* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 520px;
    background: burlywood;
    text-align: center;
    margin: 100px auto;
    border-radius: 10px;
    padding-bottom: 32px;
}

.headerIcon {
    margin-left: 10px;
}

.newForm  {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newProductInput {
    margin-bottom: 30px;
    height: 50px;
    width: 450px;
}

button.add {
    margin-bottom: 40px;
}

.listItem {
    display: flex;
    flex-direction: column;
}

.productList {
    width: 500px;
    background-color: rosybrown;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.bought {
    text-decoration: line-through;
    color: red;
}

.editForm {
    background-color: burlywood;
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputEdit {
    margin-right: 10px;
    height: 30px;
    width: 140px;
    background-color: lightgray;
}
